body {
    padding: 0;
    text-align: center;
  }
  
.game-intro {
    padding: 0% 10%;
  }
  
.game-intro p {
    font-size: 18px;
    font-family: "Verdana"
  }
  
.arrows-img {
    width: 250px;
  }
  
body button {
    font-size: 20px;
    background-color: #ccd5d2;
    color: #fff;
    padding: 10px 20px;
    border: 0;
    box-shadow: 0;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
#game-board {
      display: none;
      padding: 20px 0px;
      background-color: black;
  }

canvas {
    border: 1px solid black;
}