body {
    padding: 0;
    display: flex;
    text-align: center;
    flex-direction: column;
  }

.tanya-mcquoid {
    flex-direction: column;
  }
  
.arrows-img {
    width: 200px;
  }
  
body button {
    font-size: 30px;
    background-color: #ccd5d2;
    color: #fff;
    padding: 10px;
    border: 0;
    border-radius: 8px;
  }
  
.game-board {
      display: flex;
      padding: 20px 0px;
      flex-direction: column;
  }